<app-header></app-header>
<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container bottomContainer">
      <div class="ultimateImg">
        <img class="mainImg" src="../../../assets/bg2.jpg">
        <div class="purpleBox">
          <p class="purpleText">
            "Elevate your lifestyle, one click at a time – Shop smarter, shop bolder, shop with SHOPEASE."
          </p>
          <img loading="lazy" class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
        </div>
      </div>
      <div class="allText bottomText">
        <p class="text-blk headingText">
          About Us
        </p>
        <p class="text-blk description">
            Welcome to <span>SHOPEASE</span>, your go-to destination for a curated selection of quality products at your fingertips. At <span>SHOPEASE</span>, we are dedicated to simplifying your online shopping experience. Explore a diverse range of fashion, electronics, and lifestyle essentials, all delivered with exceptional service and reliability. Our commitment to excellence ensures that every purchase brings you satisfaction. Join us on a seamless journey of discovery, convenience, and affordability. Shop smart, shop confidently, shop <span>SHOPEASE</span>.
        </p>
        <a routerLink="/home" class="explore">
          Home
        </a>
      </div>
    </div>
  </div>